 body { font-family: Arial; margin: 0; }
    header, footer { background: #333; color: white; padding: 20px; text-align: center; }
    nav { background: #444; padding: 10px; text-align: center; }
    nav a { color: white; margin: 0 10px; text-decoration: none; }
    main { padding: 20px; }
    .section { margin-bottom: 20px; }

    a :hover{
      background: rgb(16, 64, 153);
      font-size: 5px;
      transition: 0.2s;
      transform: scale3d(20,23,28);
   
      
      border-radius: 8px;
    }
    button{background-color: #333;
   border-radius: 8px;
padding: 8px 8px;}

.logo {
   position: absolute;
   left: 10px;
   bottom: 825px;
  
}
img {
 border-radius: 100%;
 width: 120px;
 height: 120px;
}

.blog_images >img{
   width: 120px;
}